@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background: #162434;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0.1em;
    background-color: transparent;
  }
  
  /* Optional: Add a smooth transition effect */
  ::-webkit-scrollbar-thumb {
    background-color: rgba(99, 97, 97, 0.2);
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(168, 160, 160, 0.2);
  }

.header-text{
    @apply md:text-8xl text-5xl text-[#D9D9D9] font-bold
}

.subheader-text {
    @apply md:text-xl text-lg text-[#B0A8A8]
}

.second-headings {
    @apply text-4xl text-[#D9D9D9] font-bold
}

.normal-text {
    @apply text-lg md:max-w-xl max-w-xs text-[#B0A8A8]
}

.form-text {
    @apply text-lg md:max-w-xl max-w-xs text-secondary
}
